[Desktop Entry]
Name=Vela
GenericName=VPN Client
Comment=Qt GUI frontend for Proton VPN CLI
Exec=vela
Icon=vela
Terminal=false
Type=Application
Categories=Network;
Keywords=VPN;Proton;Network;Security;
StartupNotify=true
StartupWMClass=vela
